<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Exchange</title>

    <link rel="stylesheet" type="text/css" href="/css/my.style.css">
    <link rel="stylesheet" type="text/css" href="/css/exchange_style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>

		main {
		position:relative;
		margin: 100px
		min-height: 430px;	
		}		
	</style>	
</head>

<body>

    <%# ------------------------- header 영역 시작 ------------------------%>
	<header>
	<div class="header-container">
	<div class="header1">
	<div class="header_item1"></div>
		
	<div class="header_item2">
	<% if(!email) { %>
	<form name="paging5">		
            <a href="javascript:goPage5();"><img src="/img/content/img_login_kor.png" weight="70px" height="30px"></a>
    </form>   
    <% } else { %>    
	<form name="paging7">
           <a href="javascript:goPage7();"><img src="/img/content/img_logout_kor.png" weight="70px" height="30px"></a>
    </form>   
    <% } %>
    </div>
    
	<div id="header_item3">
	<% if(!email) { %>
	<form name="paging6">		
            <a href="javascript:goPage6();"><img src="/img/content/img_signup_kor.png" weight="100px" height="30px"></a>
    </form>    
    <% } else { %>    
	<form name="paging8">
           <a href="javascript:goPage8();"><img src="/img/content/img_myinfor_kor.png" weight="100px" height="30px"></a>
    </form>  
    <% } %>
	</div>
	
	
	</div>
	
	
	<div class="header2">
	 <form name="paging0">
            <a href="javascript:goPage0();"><img src="/img/content/img_payhelperbig.png" margin-tom="-10px"></a>
            <p>
        </form>

	</div>
	</div>
	</header>

	
<%# ------------------------- header 영역 끝 ------------------------%>

   <%# ------------------------- main 영역 시작 ------------------------%>
	 <main>
	 <div class="main_container">
	 	<div class="main1">
	 	
	 	 <% if(!email) { %>
    <ul>
        <form name="paging1">
            <li><a href="javascript:goPage1();">가이드</a></li>
        </form>
        <form name="paging2">
            <li><a href="javascript:goPage2();">조회</a></li>
        </form>
        <form name="paging3">
            <li><a href="javascript:goPage3();">환전</a></li>
        </form>
        <form name="paging4">
            <li><a href="javascript:goPage4();">이체</a></li>
        </form>
        
    </ul>

    <% } else { %>
    <ul>
        <form name="paging1">
            <li><a href="javascript:goPage1();">가이드</a></li>
        </form>
        <form name="paging2">
            <li><a href="javascript:goPage2();">조회</a></li>
        </form>
        <form name="paging3">
            <li><a href="javascript:goPage3();">환전</a></li>
        </form>
        <form name="paging4">
            <li><a href="javascript:goPage4();">이체</a></li>
        </form>
        
    </ul>  
    <% } %>
	 	
	 </div>
		<div class="main2">
	 		<div class="main_item1">
	 		<h4>
                    <center>
                        <font size=5> &nbsp;</font>
                        </center>
                    </h4>
                    <hr size="5px" left="50%" right"50%" noshade>
                    </hr></div>
	 		<div class="main_item2">
                    <div class="infor_block2">
                        <font size=5> 환전 </font>
                    </div>
                    <div class="infor_block3">
                        <font size=5> 가상화폐 매도 </font>
                    </div>
                    <div class="infor_block4">
                        <font size=5> 가상화폐 매수 </font>
                    </div>
                    <div class="infor_block">

                        <!-- 암호화폐 매도와 동시에 암호화폐 매수 -->
                        <center>
                            <br><a href="#"><img src="/img/content/circle.png" onclick="swal('자신의 가상화폐를 원화로 환전할 수 있습니다.')" class="circle"></a><br>
                            <font size=4>가상화폐 -> 원화</font><br>
                            <button input type="submit" class="getBtn" id="sellCoin" value="암호화폐매도"></button><br>
                        </center>
                    </div>

                    <div class="infor_block1">
                        <center>
                            <br><a href="#"><img src="/img/content/circle.png" onclick="swal('자신의 원화를 가상화폐로 환전할 수 있습니다.')" class="circle"></a><br>
                            <font size=4>원화 -> 가상화폐</font><br>
                            <button input type="submit" class="getBtn2" id="buyCoin" value="암호화폐매수"></button><br>
                        </center>
                    </div>

                    <form name=paging11>
                    </form>

                    <form name=paging12>
                    </form>

                    <form name=paging13>
                    </form>
	 		</div>
	 		
	 		<div class="main_item3">
             <h4><center>
                        <font size=5> Log</font>
                    </center></h4>
                    <hr size="5px" left="50%" right"50%" noshade>
                    </hr>

                    <br>
                    <div class=main_text2> &nbsp;&nbsp;미체결내역</div>
                    <button input type="submit" class="getBtn3" id="lookupSellOrBuyCoin" value="조회"></button><br>

                    <% if(typeof flag1 != "undefined") { %>
                    <!-- <h1>
                        <font size=3><%=flag1 %>
                    </h1> -->
                    <script>
                        swal("<%= flag1 %>")
                    </script>
                    <% } %>

                    <% if(typeof flag2 != "undefined") { %>
                    <!-- <h1>
                        <font size=3><%=flag2 %>
                    </h1> -->
                    <script>
                        swal("<%= flag2 %>")
                    </script>
                    <% } %>

                    <% if(typeof flag3 != "undefined") {%>
                    <% flag3.forEach(function(val) { %>
                    <div>
                    <form action="/users/cancelSellOrBuyCoin" method="post">
                        <input type="text" name="id" value="<%= val %>">
                        <button input type="submit" class="cancel" value="환전취소">
                    </form>
                    </div>
                    <% }) %>
                    <% } %>

                    <% if(typeof flag4 != "undefined") {%>
                    <% flag4.forEach(function(val) { %>
                    <!-- <h1>
                        <font size=3><%=flag4 %>
                    </h1> -->
                    <script>
                        swal("<%= flag4 %>")
                    </script>
                    <% }) %>
                    <% } %>

                    <% if(typeof flag5 != "undefined") {%>
                    <!-- <h1>
                        <font size=3><%=flag5 %></font>
                    </h1> -->
                    <script>
                        swal("<%= flag5 %>")
                    </script>
                    <% } %>
	 		</div>

	 	
	 	</div>
	 </div>
	</main>
<%# ----------------------main영역 끝 ------------------------ %>  
  

  <%# ----------------------footer영역 시작 ------------------------ %>
    <footer class="footer">
	<img src="/img/content/img_payhelperbig.png"width="100px"height="30px">
	<img src="/img/content/img_producer.png">
	</footer>
<%# ----------------------footer영역 끝 ------------------------ %>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script type="text/javascript">
        $("#getCheckedButton1").click(function () {
            $.ajax({
                url: "/users/ExWithdrawKor",
                type: "POST",
                headers: {

                },
                data: {

                },
                success: function (data) {
                    console.log(data)
                    if (data == 1) {
                        swal("원화 출금 완료!")
                    }
                    else {
                        swal("원화 출금 실패!")
                    }
                }
            })
        })

        $("#getCheckedButton2").click(function () {
            $.ajax({
                url: "/users/ExDepositKor",
                type: "POST",
                headers: {

                },
                data: {

                },
                success: function (data) {
                    console.log(data)
                    if (data == 1) {
                        swal("원화 입금 완료!")
                    }
                    else {
                        swal("원화 입금 실패!")
                    }
                }
            })
        })

        $("#sellCoin").click(function () {
            $.ajax({
                type: "POST",
                url: "/users/sellCoinCheck",
                data: {},
                success: function (data) {
                    if (data == 1) {
                        swal("Warning", "로그인 해주세요.",
                            { button: "확인", }).then((result) => {
                                if (result) {
                                    goPage5();
                                }
                            })
                    } else if (data == 2) {
                        swal("Warning", "환전하시려면 access_token을 발급 받으세요.",
                            { button: "확인", }).then((result) => {
                                if (result) {
                                    goPage8();
                                }
                            })
                    } else if (data == 3) {
                        goPage11();
                    } else {
                        //alert(JSON.stringify(data))
                        swal(data);
                    }
                }
            })
        })

        $("#buyCoin").click(function () {
            $.ajax({
                type: "POST",
                url: "/users/buyCoinCheck",
                data: {},
                success: function (data) {
                    if (data == 1) {
                        swal("Warning", "로그인 해주세요.",
                            { button: "확인", }).then((result) => {
                                if (result) {
                                    goPage5();
                                }
                            })
                    } else if (data == 2) {
                        swal("Warning", "환전하시려면 access_token을 발급 받으세요.",
                            { button: "확인", }).then((result) => {
                                if (result) {
                                    goPage8();
                                }
                            })

                    } else if (data == 3) {
                        goPage12();
                    } else {
                        //alert(JSON.stringify(data))
                        swal(data);
                    }
                }
            })
        })

        $("#lookupSellOrBuyCoin").click(function () {
            $.ajax({
                type: "POST",
                url: "/users/lookupSellOrBuyCoin",
                data: {},
                success: function (data) {
                    if (data == 1) {
                        swal("Warning", "로그인 해주세요.",
                            { button: "확인", }).then((result) => {
                                if (result) {
                                    goPage5();
                                }
                            })
                    } else if (data == 2) {
                        swal("Warning", "코인지갑을 사용하시려면 access_token을 발급 받으세요.",
                            { button: "확인", }).then((result) => {
                                if (result) {

                                    goPage8();
                                }
                            })
                    } else if (data == 3) {
                        goPage13();
                    } else {
                        //alert(JSON.stringify(data))
                        swal(data);
                    }
                }
            })
        })
    </script>

    <script type="text/javascript">
        function goPage0() {
            var f = document.paging0;
            f.action = "/"
            f.method = "get"
            f.submit();
        }
        function goPage1() {
            var f = document.paging1;
            f.action = "/users/aboutPayHelper"
            f.method = "get"
            f.submit();
        }
        function goPage2() {
            var f = document.paging2;
            f.action = "/users/lookup"
            f.method = "get"
            f.submit();
        }
        function goPage3() {
            var f = document.paging3;
            f.action = "/users/exchange"
            f.method = "get"
            f.submit();
        }
        function goPage4() {
            var f = document.paging4;
            f.action = "/users/payment";
            f.method = "get";
            f.submit();
        }
        function goPage5() {
            var f = document.paging5;
            f.action = "/users/login"
            f.method = "get"
            f.submit();
        }
        function goPage6() {
            var f = document.paging6;
            f.action = "/users/signup"
            f.method = "get"
            f.submit();
        }
        function goPage7() {
            var f = document.paging7;
            f.action = "/users/logout"
            f.method = "get"
            f.submit();
        }
        function goPage8() {
            var f = document.paging8;
            f.action = "/users/myinfo"
            f.method = "get"
            f.submit();
        }
        function goPage11() {
            var f = document.paging11;
            f.action = "/users/sellCoin"
            f.method = "get"
            f.submit();
        }
        function goPage12() {
            var f = document.paging12;
            f.action = "/users/buyCoin"
            f.method = "get"
            f.submit();
        }
        function goPage13() {
            var f = document.paging13;
            f.action = "/users/lookupSellOrBuyCoin"
            f.method = "get"
            f.submit();
        }
    </script>
</body>

</html>